In [25]:
from sklearn.metrics.pairwise import cosine_similarity
import seaborn as sns
import pickle
import matplotlib.pyplot as plt

In [26]:
import pandas as pd
import numpy as np

import plotly.graph_objects as go

np.random.seed(58)

In [37]:
# Input vector, returns nearest customer(s)
def Cosine_Similarity(centroid,embeddedData,word_to_index,vocab_size,index_to_word,threshold):
              
    similarity_index = []
    similarity_theta = []

    for i in range(embeddedData.shape[0]):
        
        person = embeddedData.iloc[i,:]
        
        theta_sum = np.dot(centroid, person)
        theta_den = np.linalg.norm(centroid) * np.linalg.norm(person)
        theta = theta_sum / theta_den
        
        if theta >= threshold:
            similarity_index.append(i)
            similarity_theta.append(theta)
        
    return similarity_index, similarity_theta

In [28]:
data      = pd.read_csv('data/data4analytics.csv')
centroids = pd.read_csv('data/kmeans_centroids.csv')
embeddedData = pd.read_csv('data/project_dataset.csv')

In [29]:
with open('data/word_to_index_v3.pkl', 'rb') as fp:
    word_to_index = pickle.load(fp)
    
with open('data/index_to_word_v3.pkl', 'rb') as fp:
    index_to_word = pickle.load(fp)

In [30]:
VOCAB_SIZE = len(index_to_word)

In [31]:
data.head()

,index,train,target,agegroup,fnlwgtgroup,workclass,education,maritalstatus,occupation,relationship,race,sex,cptgaingroup,cptlossgroup,nativecountry,cluster
0,0,1,0,ageadult02,fnlwgt01,state-gov,bachelors,never-married,adm-clerical,not-in-family,white,male,cptgain00,cptloss00,united-states,0
1,1,1,0,ageadult03,fnlwgt01,self-emp-not-inc,bachelors,married-civ-spouse,exec-managerial,husband,white,male,cptgain00,cptloss00,united-states,1
2,2,1,0,ageadult02,fnlwgt06,private,hs-grad,divorced,handlers-cleaners,not-in-family,white,male,cptgain00,cptloss00,united-states,0
3,3,1,0,ageadult04,fnlwgt07,private,11th,married-civ-spouse,handlers-cleaners,husband,black,male,cptgain00,cptloss00,united-states,1
4,4,1,0,ageadult01,fnlwgt09,private,bachelors,married-civ-spouse,prof-specialty,wife,black,female,cptgain00,cptloss00,cuba,1

In [32]:
embeddedData.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,0.108420,0.629539,-0.320437,-0.120785,-0.398424,-0.202614,-0.456569,0.441789,0.004905,0.390798,...,0.543323,0.384518,0.567156,-0.225841,0.510636,-0.467787,0.475940,0.183181,-0.217281,0.573872
1,0.140912,0.693322,-0.343662,-0.100846,-0.476249,-0.184669,-0.343302,0.249432,-0.046037,0.261371,...,0.549115,0.190874,0.532151,-0.226447,0.441830,-0.336036,0.281762,0.113103,-0.257302,0.440154
2,0.111089,0.565909,-0.336946,-0.092571,-0.488653,-0.169434,-0.437786,0.367724,-0.059495,0.347600,...,0.650597,0.237244,0.533808,-0.128006,0.551713,-0.376537,0.404871,0.150581,-0.252151,0.390916
3,0.030166,0.629900,-0.345893,-0.094315,-0.487779,-0.001616,-0.499513,0.219282,-0.102872,0.259045,...,0.681445,0.174268,0.438605,-0.053265,0.590292,-0.373104,0.182493,0.180408,-0.437179,0.361505
4,0.182141,0.707768,-0.366220,0.265800,-0.658817,0.083475,-0.751077,0.418466,-0.124584,0.372935,...,0.396563,0.269146,0.356989,-0.162685,0.276632,-0.444224,0.275936,0.287429,-0.276891,0.390033

In [33]:
centroids.shape

(2, 300)

In [48]:
cluster0 = centroids.iloc[0,:]
cluster1 = centroids.iloc[1,:]

In [50]:
index, thetas = Cosine_Similarity(cluster0,embeddedData,word_to_index,VOCAB_SIZE,index_to_word,0.98)

Similarity_cluster0 = []
for i in index:
    Similarity_cluster0.append(data.iloc[i,:])

Similarity_cluster0 = pd.DataFrame(Similarity_cluster0)
Similarity_cluster0['theta'] = thetas

Similarity_cluster0 = Similarity_cluster0[Similarity_cluster0.cluster==0]

Similarity_cluster0 = Similarity_cluster0.sort_values(by=['theta'],ascending=False).copy()

In [51]:
Similarity_cluster0.to_csv("data/cluster0.csv",index=False)

In [52]:
index, thetas = Cosine_Similarity(cluster1,embeddedData,word_to_index,VOCAB_SIZE,index_to_word,0.98)

Similarity_cluster1 = []
for i in index:
    Similarity_cluster1.append(data.iloc[i,:])

Similarity_cluster1 = pd.DataFrame(Similarity_cluster1)
Similarity_cluster1['theta'] = thetas

Similarity_cluster1 = Similarity_cluster1[Similarity_cluster1.cluster==1]

Similarity_cluster1 = Similarity_cluster1.sort_values(by=['theta'],ascending=False).copy()

In [53]:
Similarity_cluster1.to_csv("data/cluster1.csv",index=False)